@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: rgb(50, 50, 50);
}

a{
    text-decoration: none;
}

.logo{
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
}

.logo img{
    width: 100px;
}

body{
    background-color: white;
}
header{
    display: flex;
}
nav{
    padding: 0 120px;
    display: flex;
    align-items: top;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: fixed;
    z-index: 1000;
}
nav .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links > *{
    width: 175px;
    padding: 0 50px 0 50px;
}

nav .nav-contact-us{
    display: inline-block;
    width: 115px;
    padding: 10px 16px;
    color: white;
    background-color: rgba(219,37,11,255);
    border-radius: 10px;
}

nav .contact-container{
    padding-left: 100px;
}

.title-container{
    display: flex;
    justify-content: center;
    margin: 185px auto 90px auto;
    align-items: end;
    width: 600px;
}

.title-container p{
    font-size: 35px;
    text-align: center;
    /* Animation */
    animation: fade-up 0.5s;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{    
    width: 300px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    /* Animation */
    animation: fade-up 0.5s;
    transition: transform 0.25s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 100%;
}
.card-content{
    padding: 15px;
}
.card-content p{
    color: rgb(110, 110, 110);
    margin: 10px 0 14px 0;
}
.card-content .read-more-button{
    display: inline-block;
    padding: 10px 16px;
    color: white;
    background-color: rgba(219,37,11,255);
    border-radius: 10px;
}
.careers-background{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgba(219,37,11,255);
}
.careers-container{
    display: flex;
    justify-content: center;
    width: 1500px;
}
.careers-info{
    padding: 100px 80px;
}
.careers-title h1{
    font-size: 40px;
    margin-bottom: 15px;
    color: white;
}
.careers-paragraph p, .careers-paragraph h3{
    font-size: 25px;
    margin-bottom: 15px;
    color: white;
}
.benefits-container{
    display: flex;
    margin-bottom: 25px;
}
.benefits-column{
    margin-left: 18px;
    margin-right: 50px;
}
.benefits-column li{
    color: white;
}
.careers-info a{
    font-size: 20px;
    display: inline-block;
    padding: 10px 16px;
    color: rgba(219,37,11,255);
    background-color: white;
    border-radius: 10px;
}
.careers-image img{
    height: 100%;
    mask-image: linear-gradient(to right, black 50%, transparent 100%);
    display: block;
}
.meet-our-team-container{
    justify-content: center;
}
.meet-our-team-title h1{
    font-size: 40px;
    color: rgba(219,37,11,255);
    margin: 90px 0px;
    text-align: center;
}
.meet-our-team-container .card-content{
    text-align: center;
}
.meet-our-team-container .card img{
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
.meet-our-team-container .card{
    transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
}
.meet-our-team-container .card:hover{
    background-color: rgba(219,37,11,255);
}
.meet-our-team-container .card .card-content{
    transition: color 0.5s ease-in-out;
}
.meet-our-team-container .card:hover .card-content h2, .meet-our-team-container .card:hover .card-content p{
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.application-title{
    margin-top: 150px;
}
.application-box{
    display: flex;
    margin-top: 50px;
    gap: 20px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.application-box img{
    width: 50%;
    border-radius: 18px;
    object-fit: cover;
}
.application-box form{
    width: 50%;
}
.application-form label{
    display: block;
    margin-bottom: 6px;
}
.application-form input, .application-form textarea, .application-form select{
    width: 100%;
    padding: 10px;
    padding-right: 42px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 12px;
    outline: none;
}
.application-form .file-upload{
    cursor: pointer;
}
.application-form textarea{
    resize: none;
    height: 110px;
}
.application-box button{
    width: 100%;
    border: none;
    padding: 10px;
    background-color: rgba(219,37,11,255);
    color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.application-box button:hover{
    transform: scale(1.025);
}
.success-message{
    margin-top: 250px;
    display: none;
    /* Animation */
    animation: fade-up 0.5s;
    transition: transform 0.25s ease-in-out;
}
.info-missing{
    font-size: 13px;
    margin-left: 10px;
    color: rgba(219,37,11,255);
    position: relative;
    transform: translateY(-10px);
    display: none;
}
@media screen and (max-width: 1400px) {
    .careers-image{
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .links .links-home{
        display: none;
    }
}
@media screen and (max-width: 1050px) {
    .links .links-careers{
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .links .links-services{
        display: none;
    }
    .application-box img{
        display: none;
    }
    .application-box form{
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    .links{
        display: none;
    }
    .careers-title h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .careers-paragraph p, .careers-paragraph h3{
        font-size: 15px;
        margin-bottom: 8px;
        color: white;
    }
    .benefits-column li{
        font-size: 15px;
        color: white;
    }
    .careers-info a{
        font-size: 15px;
        padding: 8px 14px;
        border-radius: 8px;
    }
}
@media screen and (max-width: 695px) {
    .title-container{
        width: 80%;
        margin: 135px auto 40px auto;
    }
    nav .contact-container{
        padding-left: 0;
    }
}